.receitas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

@media screen and (max-width: 768px) {
    .receitas{ 
        flex-direction: column;
        padding: 4%;
        width: 100%;
    }
}